/*_____________________ Font Family Adding_____________________ */
@font-face {
    font-family: 'myPrimaryFont';
    src: url('/public/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 900;
    /* --------Bold--------- */
}

@font-face {
    font-family: 'myPrimaryFont';
    src: url('/public/fonts/Gilroy-Heavy.woff');
    /* --------Heavy--------- */
}

@font-face {
    font-family: 'myPrimaryFont';
    src: url('/public/fonts/Gilroy-Light.woff');
    /* --------Light--------- */
}

@font-face {
    font-family: 'myPrimaryFont';
    src: url('/public/fonts/Gilroy-Medium.woff');
    font-weight: 800;
    /* --------Medium--------- */
}

@font-face {
    font-family: 'myPrimaryFont';
    src: url('/public/fonts/Gilroy-Regular.woff');
    /* --------Regular--------- */
}

:root{
    /* ------ Adding font on Root --------- */
    --fontPrimary: 'myPrimaryFont';

    /* ------ CSS Adding on Root --------- */
    --primaryColor: rgb(0, 52, 89);
    --secondaryColor: #f7dba7;
    --secondaryColor2: #FCEED5;


    --stateColorPink: #ff564f;
    --sateColorGreen: #34c759;
    --sateColorOrange: #ff912c;
    --stateColorBlue: #00a7e7;

    --neutralColor100: #00171f;
    --neutralColor80: #242b33;
    --neutralColor60: hsl(196, 9%, 44%);
    --neutralColor40: #99a2a5;
    --neutralColor20: #ccd1d2;
    --neutralColor10: #ebeeef;

    /* ------ Font size on Root --------- */
    --fontSize: 1.5rem;
    --fontSize2: 1.1rem;

}

.btn{
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--primaryColor);
    border-radius: 2rem;
    border: none;
    font-size: var(--fontSize);
    color: #fff;
}

h3 {
    font-size: 3.5rem;
    text-transform: capitalize;
    color: var(--primaryColor);
    font-weight: 800;
  }