@import url(/src/global.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: var(--fontPrimary);
  background-color: var(--secondaryColor2);
}


/*⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉ Our Header Section ⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉*/
header {
  background-color: var(--secondaryColor2);
}

.header_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: relative; */
  padding-left: 10rem;
  padding-right: 10rem;
  background: url(/public/logo_bg.png) no-repeat;
  background-size: contain;
  background-position: left top;
}

.header_section .logo {


  & img {
    width: 10rem;
    height: 10rem;
  }
}

.header_section .navbar_section {
  display: flex;
}

.header_section .navbar_section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;

  & .nav_link {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--fontSize);
    color: var(--primaryColor);
  }

}

.header_section .search_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  width: 20rem;
  height: 3rem;
  border-radius: 2.5rem;
  background-color: #fff;

  & img {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(40%) sepia(9%) saturate(44%) hue-rotate(196deg);


  }

}


.header_section .search_item input {
  /* width: 20rem;
  height: 3rem; */
  /* padding-left: .8rem; */
  font-size: var(--fontSize2);
  border: none;
  outline: none;
  caret-color: var(--neutralColor40);

  & ::placeholder {
    color: var(--neutralColor40);

  }
}



/*⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉ Our Home Section ⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉*/
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 10rem;
  padding-right: 10rem;

  background-color: var(--secondaryColor2);
}

.hero-section .left-home-section h1 {
  background: url(/public/home_text_bg.png) no-repeat;

  background-size: 80px;
  padding-left: 20px;
  padding-top: 10px;
  /* padding-bottom: 10px; */

  font-size: 6rem;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--primaryColor);
}

.hero-section .left-home-section h2 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: var(--primaryColor);
  font-weight: 800;
}

.hero-section .left-home-section p {
  font-size: 1.3rem;
  padding-top: 2rem;
  line-height: 1.5;
  word-spacing: .2rem;
  letter-spacing: .1rem;
  color: var(--neutralColor80);
}

.hero-section .left-home-section .hero-btn {
  padding-top: 4rem;
  display: flex;
  gap: 3rem;
}

.hero-section .left-home-section .hero-btn .left-hero-btn {
  background: transparent;
  border: 1px solid rgb(0, 52, 89);
  color: var(--primaryColor);
  background: url(/public/svg/Play_Circle.png) no-repeat;
  background-size: 25px;
  background-position: right 10px center;
  padding-right: 45px;


}


.right-home-section {
  margin-top: 10rem;
}

.right-bg-image {
  background: url(/public/Rectangle\ 6.png), url(/public/Rectangle\ 7.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top;

}

.home-bg-hero {
  background: url(/public/Rectangle\ 1.png), url(/public/Rectangle\ 2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: contain;
  

  & img {
    width: 80rem;
    height: auto;
  }

}

/*⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉ choosing pets animals ⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉*/
.choose-pets {
  padding-left: 10rem;
  padding-right: 10rem;
  background: url(/public/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

}

.choose-pets .info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-pets .info-heading .sub-heading h4 {
  font-size: 2.5rem;
}

.choose-pets .info-heading .sub-heading h4 {
  font-size: 2.5rem;
}

.choose-pets .puppy-container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;

}

.choose-pets .puppy-container .puppy-card {
  width: 28rem;
  height: 40rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: var(--neutralColor0);

  & img{
    margin-top: 2rem;
    border-radius: 1rem;
  }


}

.puppy-container .puppy-card .card-content {
  padding: 1.5rem;
  text-align: left;
}

.card-content h5 {
  margin: 10px 0;
  font-size: var(--fontSize);
}
.card-content .card-content-gender {
  display: flex;
  gap: 2rem;
}
.card-content .card-content-gender h6 {
  margin: 5px 0;
  color: var(--neutralColor60);
  font-size: var(--fontSize3);
}

.price {
  margin: 4px 0;
  font-weight: bold;
  font-size: var(--fontSize3);
}

/*⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉ Our Pets product card ⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉*/
.pet-product-card{
  width: 100%;
  background-color: #fff;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.pet-product-card .product-card{
  width: 80%;
  background-color: var(--primaryColor);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  
  
}

.pet-product-card .product-card .left-product-card{
  background: url(/public/pets-product-card.png) no-repeat;
  background-position: left bottom;
  background-size: contain;
  /* padding-right: 2rem; */
  border-radius: 1rem;
  padding-top: 9rem;
  width: 40%;
}

.pet-product-card .product-card .right-product-card{
text-align: right;
padding-right: 2rem;
background: url(/public/pets-product-card-2.png) no-repeat;
background-position: right;
background-size: contain;
padding-top: 10rem;
border-radius: 1rem;
width: 60%;

}

.pet-product-card .product-card .right-product-card h1 {

  font-size: 6rem;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--primaryColor);
}

.pet-product-card .product-card .right-product-card h2 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: var(--primaryColor);
  font-weight: 800;
}

.pet-product-card .product-card .right-product-card  p {
  font-size: 1.3rem;
  padding-top: 2rem;
  line-height: 1.5;
  word-spacing: .2rem;
  letter-spacing: .1rem;
  color: var(--neutralColor80);
}

.pet-product-card .product-card .right-product-card  .hero-btn {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3rem;
  padding-bottom: 3rem;
}

.pet-product-card .product-card .right-product-card  .hero-btn .left-hero-btn {
  background: transparent;
  border: 1px solid rgb(0, 52, 89);
  color: var(--primaryColor);
  background: url(/public/svg/Play_Circle.png) no-repeat;
  background-size: 25px;
  background-position: right 10px center;
  padding-right: 45px;


}
