* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-family: var(--fontPrimary);
}


/*⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉ Our Header Section ⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉*/
header {
  background-color: var(--secondaryColor2);
}

.header_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: relative; */
  padding-left: 10rem;
  padding-right: 10rem;
  background: url(/public/logo_bg.png) no-repeat;
  background-size: contain;
  background-position: left top;
}

.header_section .logo {


  & img {
    width: 10rem;
    height: 10rem;
  }
}

.header_section .navbar_section {
  display: flex;
}

.header_section .navbar_section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;

  & .nav_link {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--fontSize);
    color: var(--primaryColor);
  }

}

.header_section .search_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  width: 20rem;
  height: 3rem;
  border-radius: 2.5rem;
  background-color: #fff;

  & img {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(40%) sepia(9%) saturate(44%) hue-rotate(196deg);


  }

}


.header_section .search_item input {
  /* width: 20rem;
  height: 3rem; */
  /* padding-left: .8rem; */
  font-size: var(--fontSize2);
  border: none;
  outline: none;
  caret-color: var(--neutralColor40);

  & ::placeholder {
    color: var(--neutralColor40);

  }
}



/*⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉ Our Home Section ⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉⇉*/
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 10rem;
  padding-right: 10rem;

  background-color: var(--secondaryColor2);
}

.hero-section .left-home-section h1 {
  background: url(/public/home_text_bg.png) no-repeat;

  background-size: 80px;
  padding-left: 20px;
  padding-top: 10px;
  /* padding-bottom: 10px; */

  font-size: 6rem;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--primaryColor);
}

.hero-section .left-home-section h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: var(--primaryColor);
  font-weight: 800;
}

.hero-section .left-home-section p {
  font-size: 1.3rem;
  padding-top: 2rem;
  line-height: 1.5;
  word-spacing: .2rem;
  letter-spacing: .1rem;
  color: var(--neutralColor80);
}

.hero-section .left-home-section .hero-btn {
  padding-top: 4rem;
  display: flex;
  gap: 3rem;
}

.hero-section .left-home-section .hero-btn .left-hero-btn {
  background: transparent;
  border: 1px solid rgb(0, 52, 89);
  color: var(--primaryColor);
  background: url(/public/svg/Play_Circle.png) no-repeat;
  background-size: 25px;
  background-position: right 10px center;
  padding-right: 45px;


}


 .right-home-section .right-bg-image{
  background: url();
 }